.all{
width:100%;

margin:0 auto;
}
.header{
text-align:center;
}

a{
text-decoration:none;
color:rgb(17,17,67);
font-size:30px;
background-color:orange;
}
.row1,.row2{
border:1px solid green;
margin-top:20px;
}


a:hover{
color:orange;
background-color:#8cce7a;
}
img{
height:600px;
width:33%;
}
body {
background-color:#8cce7a;
}
