.content{
width:60%;
padding-right:50px;
position:absolute;
top:170px;
right:10px;
left:520px;
}
body{
background-color:#8cce7a;
}
h1{
text-align:center;
}
.header{

text-align:center;
}


a{
text-decoration:none;
color:rgb(17,17,67);
font-size:30px;
background-color:orange;
}

a:hover{
color:orange;
background-color:#8cce7a;
}

img{
margin-top:30px;
height:600px;
width:500px;
border-radius:20%;
border:2px solid #8cce7a;
}
